.left-contain {
    width: 15vw;
    height: 30vh;
    background-color: #212529;
    box-shadow: 0 0px 1px #333333;

}

.user-img {
    position: relative;
    text-align: center;
    margin-top: 3.2vh;
}

.user-name {
    text-align: center;
    margin-top: 2vh;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 2vh;
}