.department-contain {
    width: 100vw;
    display: flex;
}

.department-content {
    width: 92vw;
    height: calc(100vh - 86px);
    background-color: #fafafa;
}

.head {
    width: 100%;
    margin-top: 2vw;
    margin-left: 2vw;
}